.big {
  background: rgb(230, 230, 230);
}
.side-show {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fas {
  display: inline;
}
.side-show h2 {
  margin-bottom: 20px;
}
.side-show p {
  display: inline;
  font-weight: bold;
  font-size: 1.1rem;
}
