body {
    background: #181a1f;
    color: #fff;
}

.overlay {
    opacity: 0;
    background: rgba(11,14,14,.5);
    position: fixed;
    top: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    visibility: hidden;
    transition-duration: .3s;

}
.overlay-show {
    visibility: visible;
    opacity: 1;
}

.close-menu {
    color: black;
}

.wrapper {
    position: relative;
}

.left-col {
    position: absolute;
    z-index: 3;
    left: 300px;

    width: 40%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.left-col p {
    font-size: 20px;
}

.video {
    position: relative;
    width: 75%;
    height: auto;
    margin-left: auto;
}

.video-bg {
    position: absolute;
    top: 0;
    bottom: 0;
}

.video-bg img {
    height: 100%;
}

.games .card {
    border: none;
    border-radius: unset;
    background: none;
}

.games .card-body {
    padding: 0;
    border: none;
    border-radius: unset;
}

.games .card-body .img-thumbnail {
    padding: 0;
    border: none;
    border-radius: unset;
}

.games .game-link {
    text-decoration: none;
    color: #fff;
}

.footer {
    background-color: #12161f;
    color: #fff;
    padding: 50px 20px;
}

.footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.footer a:hover {
    color: rgb(209, 209, 209);
}

@media (max-width:991px) {
    .menu {
        position: fixed;
        top: 0;
        left: -100%;
        background: #fff;
        padding: 30px;
        width: 85% !important;
        height: 100vh;
        z-index: 3;
        transition-duration: .3s;
    }
    .menu-is-open {
        left: 0;
    }
<<<<<<< HEAD
=======
}
.faq-headline{
    color: #fff;
    text-decoration: none;
    object-position: center;
    font-weight: bold;
    
}
.info-text{
    color: whitesmoke;
    font-weight: bolder;
}
.faq-section{
    color: whitesmoke;
    font-weight: bold;
}
.desc{
    font-weight:lighter;
}
.footer-info{
    background: #181a1f;
>>>>>>> dfebc24d00e769a1bbc62cfd6d1ce7c55e8f89ab
}