.overlay {
    opacity: 0;
    background: rgba(11,14,14,.5);
    position: fixed;
    top: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    visibility: hidden;
    transition-duration: .3s;

}
.overlay-show {
    visibility: visible;
    opacity: 1;
}

.close-menu {
    color: black;
}

.footer {
    background-color: #181a1f;
    color: #fff;
    padding: 50px 20px;
}

.footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.footer a:hover {
    color: rgb(209, 209, 209);
}

@media (max-width:991px) {
    .menu {
        position: fixed;
        top: 0;
        left: -100%;
        background: #fff;
        padding: 30px;
        width: 85% !important;
        height: 100vh;
        z-index: 3;
        transition-duration: .3s;
    }
    .menu-is-open {
        left: 0;
    }
}
.faq-headline{
    color: #fff;
    text-decoration: none;
    object-position: center;
    font-weight: bold;
    
}
.info-text{
    color: whitesmoke;
    font-weight: bolder;
}
.faq-section{
    color: whitesmoke;
    font-weight: bold;
}
.desc{
    font-weight:lighter;
}
.footer-info{
    background: #181a1f;
    posi
}