.faq-div{
    text-align: center;
    padding: 20px 20px;
}
.faq-headline{
    font-weight: bold;
    text-align: center;
}
.accordion-body{
    font-weight: lighter;
    text-align: left;

}
.accordion-button{
    font-weight: bold;
    text-align: left;
}
.faq-container{
    
}
.info-klass{
    padding: 20px;
    background: white;
    font-size: large;
    font-weight: lighter;
    text-align: center;
    background-color: #181a1f;
    right:0;
    left:0;
    position: relative;
    margin-top: 30px;
}
.footer{
    background:#181a1f ;
}

.btn-primary{
    background: #181a1f;
    color: white;
    font-weight: bold;
    text-align:center;
    font-size:small;
}

