.faq-div{
    text-align: center;
    padding: 20px 20px;
}
.faq-container{
    box-shadow: 0 0 100px 0 #000;
    margin-bottom: 100px;
}
.faq-headline{
    font-weight: bold;
    text-align: center;
}
.accordion-body{
    font-weight: lighter;
    text-align: left;

}
.accordion-button{
    font-weight: bold;
    text-align: left;
    color: white;
    margin-bottom: 9px;
}

.info-klass{
    padding: 20px;
    background: white;
    font-size: large;
    font-weight: lighter;
    text-align: center;
    background-color: #181a1f;
    right:0;
    left:0;
    position: relative;
    margin-top: 30px;
}
.footer{
    background:#181a1f ;
}

.btn-primary{
    background: #181a1f;
    color: white;
    font-weight: bold;
    text-align:center;
    font-size:small;
    margin-top: 10px;
}

#infosida .card-body {
    color: #181a1f;
    margin-top: 10px;
}
.anställda{
    text-align: center;
    color: white;
    margin: 20px;
}
.about-us-container{
    
}
.about-us{
    text-align: center;
}
.faq-img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-size:100% ;
    margin: auto;
    margin-bottom: 20px;
    
}