.content {
  margin-top: 56px;
  height: 76vh;
  display: flex;
}

.big {
  background: #181a1f;
  box-shadow: -1px 2px 22px 20px rgba(0, 0, 0, 0.79);
  -webkit-box-shadow: -1px 2px 22px 20px rgba(0, 0, 0, 0.79);
  -moz-box-shadow: -1px 2px 22px 20px rgba(0, 0, 0, 0.79);
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  box-shadow: 0 0 100px 0 #000;
}
.side-show {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fas {
  color: #888888;
  display: inline;
  transition: text-shadow 0.5s ease 0s;
}
.fas:hover {
  color: #cccccc;

  text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee, 2px 1px 1px #cccccc,
    1px 2px 1px #eeeeee, 3px 2px 1px #cccccc, 2px 3px 1px #eeeeee,
    4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc,
    4px 5px 1px #eeeeee, 6px 5px 1px #cccccc, 5px 6px 1px #eeeeee,
    7px 6px 1px #cccccc;
}

.side-show a {
  display: inline;
  text-decoration: none;
  color: #212529;
}
.side-show h2 {
  margin-bottom: 20px;
}
.side-show p {
  display: inline;
  font-weight: bold;
  font-size: 1.1rem;
}
